@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* 

<p>sing_instanceId Service Instance ID: @ViewBag.sing_instanceId</p>
<p>tran_instanceId Service Instance ID: @ViewBag.tran_instanceId</p> *@
<p>scope_instanceId Service Instance ID: @ViewBag.scope_instanceId</p>